h1{
background:#637852;
background:#A3BE8C;
background:#c78d18;
background:#EBCB8B;
background:#324e71;
background:#7083C8;
background:#81A1C1;
background:#b11c1c;
background:#ff5370;
background:#6f546a;
background:#B48EAD;
background:#a46420;
background:#D08770;
background:#67929e;
background:#8FBCBB;
background: #f3faff
}